body {
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.navbar-nav {
    justify-content: space-evenly;
    width: 100%;
}

.container-fluid {
    width: 65%;
}

.col img {
    height: 500px;
    object-fit: cover;

}

.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card {
    border-style: none;
}

.carousel-inner {
    border-style: none;
}

.btn {
    transition: transform 0.4s ease;
}

.btn:hover {
    transform: scale(1.1);
}

.unleash-potential h1 {
    font-size: 10rem;
    line-height: 10rem;
}

.unleash {
    padding-right: 14rem;
}

.potential {
    padding-left: 10rem;
}


.Ali {
    font-size: 140px
}

.R11 {
    transition: transform 0.5s ease;
}

.R11:hover {
    transform: scale(1.2);
}

footer {
    background-image: url(https://wallpapercave.com/wp/wp2533040.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: local;
    background-size: cover;
}

a {
    text-decoration: none;
}

.Section-D {
    background-color: #96cae0;
}



@media (min-width: 576px) and (max-width: 767.98px) {
    .Ali {
        font-size: 60px
    }
}

@media (min-width: 0px) and (max-width: 575.98px) {
    .Ali {
        font-size: 30px
    }
}

@media (max-width: 991px) {

    .unleash-potential h1 {
        font-size: 3rem !important;
        line-height: 3rem !important;
    }

    .unleash {
        padding-right: 4.25rem !important;
    }

    .potential {
        padding-left: .50rem !important;
    }
}