body{
    background-image: url(https://png.pngtree.com/background/20250108/original/pngtree-delicate-rainbow-background-pastel-texture-with-a-splash-of-color-picture-image_15231453.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.navbar-nav{
    justify-content: space-evenly;
    width: 100%;
}
.container-fluid{
    width: 65%;
}

.col img {
    height: 500px;
    object-fit: cover;
    
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card{
    border-style: none;
}

.carousel-inner{
    border-style: none;
}
.btn{
   transition:  transform  0.4s ease;  
}
.btn:hover{
  transform: scale(1.1);
}

.Ali{
    font-size: 140px
}

.R11{
   transition:  transform  0.5s ease;  
}
.R11:hover{
  transform: scale(1.2);
}

@media (min-width: 576px) and (max-width: 767.98px) { 
    .Ali{
    font-size: 60px
}
 }

@media (min-width: 0px) and (max-width: 575.98px) { 
    .Ali{
    font-size: 30px
}
 }