body {
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.navbar-nav {
    justify-content: space-evenly;
    width: 100%;
}

.container-fluid {
    width: 65%;
}

.col img {
    height: 500px;
    object-fit: cover;

}

.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card {
    border-style: none;
}

.carousel-inner {
    border-style: none;
}

.btn {
    transition: transform 0.4s ease;
}

.btn:hover {
    transform: scale(1.1);
}

.Ali {
    font-size: 140px
}

.R11 {
    transition: transform 0.5s ease;
}

.R11:hover {
    transform: scale(1.2);
}

footer {
    background-image: url(https://wallpapercave.com/wp/wp2533040.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: local;
    background-size: cover;
}

a{
text-decoration: none;
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .Ali {
        font-size: 60px
    }
}

@media (min-width: 0px) and (max-width: 575.98px) {
    .Ali {
        font-size: 30px
    }
}